<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <permission
    android:name="${applicationId}.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
    android:protectionLevel="signature"
    tools:node="remove" />

    <uses-permission
    android:name="${applicationId}.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
    tools:node="remove" />

    <application
        android:allowBackup="true"
        android:label="QDReadHook"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar"
        tools:remove="android:appComponentFactory">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="起点阅读增强功能 目前仅支持:7.9.334-1196 + 正式版本" />
        <meta-data
            android:name="xposedminversion"
            android:value="90" />
        <meta-data
            android:name="xposedscope"
            android:value="com.qidian.QDReader" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:ignore="MissingClass"
            tools:node="remove" />
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:exported="false"
            tools:ignore="MissingClass"
            tools:node="remove" />

    </application>
</manifest>
